<div class="admin-container">
  <div class="sections">
    <a [routerLink]="['/admin/users-roles']">
      <div class="sections-content">
        <span class="section-text">USER-ROLES</span>
        <img src="https://images.squarespace-cdn.com/content/v1/51bca317e4b0008f24e5c0ab/1438108159805-WMLV38NP32H7TI8NCP5O/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/Wedding+Venue" alt="">
      </div>
    </a>
    <a [routerLink]="['/admin/album-editor']">
      <div class="sections-content">
        <span class="section-text">ALBUM EDITOR</span>
        <img src="https://images.squarespace-cdn.com/content/v1/51bca317e4b0008f24e5c0ab/1438108159805-WMLV38NP32H7TI8NCP5O/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/Wedding+Venue" alt="">
      </div>
    </a>
    <a [routerLink]="['/admin/edit-pages']">
      <div class="sections-content">
        <span class="section-text"> APP SETTINGS</span>
        <img src="https://images.squarespace-cdn.com/content/v1/51bca317e4b0008f24e5c0ab/1438108159805-WMLV38NP32H7TI8NCP5O/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/Wedding+Venue" alt="">
      </div>
    </a>
    <a [routerLink]="['/admin/collection']">
      <div class="sections-content">
        <span class="section-text"> COLLECTIONS </span>
        <img src="https://images.squarespace-cdn.com/content/v1/51bca317e4b0008f24e5c0ab/1438108159805-WMLV38NP32H7TI8NCP5O/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/Wedding+Venue" alt="">
      </div>
    </a>
  </div>
</div>