<div class="admin-container">
  <div class="sections">
    <a [routerLink]="['/admin/users-roles']">
      <div class="sections-content">
        <span class="section-text">USER-ROLES</span>
      </div>
    </a>
    <a [routerLink]="['/admin/album-editor']">
      <div class="sections-content">
        <span class="section-text">ALBUM EDITOR</span>
      </div>
    </a>
    <a [routerLink]="['/admin/edit-pages']">
      <div class="sections-content">
        <span class="section-text"> APP SETTINGS</span>
      </div>
    </a>
    <a [routerLink]="['/admin/collection']">
      <div class="sections-content">
        <span class="section-text"> COLLECTIONS </span>
      </div>
    </a>
  </div>
</div>