 
// if you'd like to use it without importing all of bootstrap it requires 
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
@font-face {
  font-family: Alcumbierre;
  src: url(./assets/fonts/Alcubierre.otf) format("truetype");
}
// @import '../src/css-reset.css';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat-palette($mat-indigo);
$client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat-light-theme(
  (
    color: (
      primary: $client-primary,
      accent: $client-accent,
      warn: $client-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($client-theme);

/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.min.css";
* {
  margin: 0 ;
  padding: 0 ;
}
html {
  min-height: 100%;
}
body {
  height: 100%;
  background-position: top center;

}
html,
body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: 'Alcumbierre', 'arial', sans-serif;
  
  // background:linear-gradient(to top, #040308, #AD4A28, #DD723C, #FC7001, #DCB697, #9BA5AE, #3E5879, #020B1A);

}
body {
  height: 100%;
  margin: 0;
  align-items: center;
}

//tablet view
@media (max-width: 1181px) {
  html {
    background-color: white;
    // background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  }
  body {
    background-position: top center;
    min-height: 100%;
  }
  html,
  body {
    background-color: white;
    // background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  }
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    align-items: center;
  }
}

//Mobile view landescape
@media(max-width: 767.98px) {

}

//Mobile view portrait
@media(max-width: 575.98px) {

}
