.page-settings {
  padding: 10px;
  width: 100%;
  .about-section {
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 100%;

    form {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .website-settings {
        display: flex;
        justify-content: space-between;
        height: 450px;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #c2c2c2;
        h4 {
          width: 100%;
        }

        .logo-container {
          width: 50%;
          height: 200px;
          padding: 20px;

          .img-prw {
            width: 100%;
            height: 200px;
          }
        }
        .uploader {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2%;
          border: 1px solid rgb(90, 90, 90);
          height: 200px;
        }
        input {
          width: 50%;
          // margin-left: 800px;
        }
      }

      .about-img {
        width: 25%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #c2c2c2;
        .img-prw {
          width: 380px;
          height: 380px;
          border-radius: 50%;
          max-height: 400px;
          display: relative;

          img {
            border-radius: 50% !important;
          }
        }

        .bio-uploader {
          top: -285px;
          left: 0px;
          max-height: 300px;
          color: white;
          font-weight: bold;
          background-color: rgba(90, 90, 90, 0.192);

          &:hover {
            color: black;
            background-color: white;
            border: 2px solid rgb(94, 94, 94);
          }
        }
        input {
          position: relative;
          top: 230px;
          left: 60px;
          color: white;

          &:hover {
            z-index: 10;
            color: blue;
            cursor: pointer;
          }
        }
        img:hover {
          content: "change Image";
          color: white;
          opacity: 1;
          filter: blur(1px);
          z-index: -1;
        }
        button {
          margin-top: 0.75rem;
        }
      }
      .about-bio {
        width: 75%;
        padding: 20px;
        border-bottom: 1px solid #c2c2c2;

        textarea {
          margin-top: 10px;
          padding-right: 100px;
        }
        h4 {
          color: orangered;
          margin-top: 30px;
          font-weight: bold;
        }
        div label {
          margin-right: 5px;
        }

        input {
          margin-right: 5px;
        }

        .form-inline {
          margin-top: 20px;
          display: grid;
          grid-template-columns: repeat(10, minmax(0, 1fr));
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
      .contact-bio {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        h4 {
          width: 100%;
          // flex: 100% 100% 100%;
        }
        table {
          width: 30%;
          margin: 1.75rem 0.75rem;
          border-radius: 10px;

          td {
            border-bottom: 1px solid rgb(95, 95, 95);
            margin-top: 20px;
          }
        }

        .bio-uploader{
          width: 30%;
          border: 1px solid grey;
        }
        .contact-image {
          width: 30%;
          max-height: 500px;
          height: 300px;

          img {
            object-fit: cover;
          }
        }
      }
      .form-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        button {
          width: 30%;
        }
      }
    }
  }
}

@media (max-width: 1181px) {
  .website-settings {
    height: auto !important;

    .logo-container {
      width: 100% !important;
    }
    .uploader {
      width: 100% !important;
    }
  }

  .about-img {
    padding: 0 !important;
    width: 100% !important;

    .img-prw {
      width: 100% !important;
    }
  }
  .about-bio {
    width: 100% !important;

    .form-inline {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .contact-bio {
      height: auto !important ;
    table{
      width: 100% !important;
    }

    .bio-uploader{
      width: 100% !important;
    }
    .contact-image{
      width: 100% !important;
    }

  }
}
