.page-settings {
  padding: 10px;
  width: 100%;
  .about-section {
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 100%;

    form {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .website-settings{
        display: flex;
        justify-content: flex-start;
        height: 300px;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #c2c2c2;
        h4{
          width: 100%;
        }

        .logo-container{
          width: 50%;
          height: 200px;
          padding: 20px;
        }
        .uploader{
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2%;
          border: 1px solid rgb(90, 90, 90);
          height: 200px;
        }
        input{
          width: 50%;
          margin-left: 800px;
        }

      }

      .about-img {
        flex: 0.1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #c2c2c2;
        img::before {
          content: "";
        }
        &:hover {
          content: "change Image";
          color: white;
          background-color: rgba(169, 169, 169, 0.308);
          opacity: 1;
        }

        button {
          margin-top: 0.75rem;
        }
      }
      .about-bio {
        flex: 0.9;
        padding: 20px;
        border-bottom: 1px solid #c2c2c2;

        textarea {
          margin-top: 10px;
          padding-right: 100px;
        }
        h4 {
          color: orangered;
          margin-top: 30px;
          font-weight: bold;
        }
        div label {
          margin-right: 5px;
        }

        input {
          margin-right: 5px;
        }

        .form-inline {
          margin-top: 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
      .contact-bio {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        h4 {
          width: 100%;
          // flex: 100% 100% 100%;
        }
        table {
          flex: 0.5;
          margin: 1.75rem 0.75rem;
          width: 50%;
          border-radius: 10px;


          td {
            border-bottom: 1px solid rgb(95, 95, 95);
            margin-top: 20px;
          }
        }
        .contact-image {
          flex: 0.5;
          width: 50%;
          max-height: 500px;
          height: 300px;

          img{
            object-fit: cover;
          }
        }
      }
      button{
        width: 20%;
      }
    }
  }
}
