<div class="page-settings">
  <div class="about-section">
    <form
    #editForm="ngForm"
    id="editForm"
    (ngSubmit)="submitChanges(appDetails.id, $event.target)"
  >
    <div class="about-img">
        <img
          src="https://format-com-cld-res.cloudinary.com/image/private/s--BZBZgYg6--/c_crop,h_2989,w_2988,x_1547,y_0/c_fill,g_center,h_380,w_380/fl_keep_iptc.progressive,q_95,r_max/v1/8d06225feb1ab12065e636ad5c061efc/20160116_1716401.png"
          srcset="
            https://format-com-cld-res.cloudinary.com/image/private/s--BZBZgYg6--/c_crop,h_2989,w_2988,x_1547,y_0/c_fill,g_center,h_380,w_380/fl_keep_iptc.progressive,q_95,r_max/v1/8d06225feb1ab12065e636ad5c061efc/20160116_1716401.png       1x,
            https://format-com-cld-res.cloudinary.com/image/private/s--RQ_ZeVEU--/c_crop,h_2989,w_2988,x_1547,y_0/c_fill,g_center,h_380,w_380/dpr_2,fl_keep_iptc.progressive,q_95,r_max/v1/8d06225feb1ab12065e636ad5c061efc/20160116_1716401.png 2x
          "
        />
      <button
        [disabled]="!editForm.dirty"
        form="editForm"
        class="btn btn-success"
      >
        Save changes
      </button>
    </div>
    <div class="about-bio">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information:</strong> You have Made changes. Any unsaved changes
        will be lost
      </div>
     
        <h1>Biography</h1>
        <h4>Edit Paragraph</h4>
        <textarea
          name="description"
          rows="10"
          class="form-control"
          [(ngModel)]="appDetails.aboutDescription"
        >
        </textarea>

        <div class="form-inline">
          <label for="Instagram">Instagram:</label>
          <input
            class="form-control"
            type="text"
            name="Instagram"
            [(ngModel)]="appDetails.instagram"
          />
          <label for="Facebook">Facebook:</label>
          <input
            class="form-control"
            type="text"
            name="Facebook"
            [(ngModel)]="appDetails.facebookLink"
          />
          <label for="Pinterest">Pinterest:</label>
          <input
            class="form-control"
            type="text"
            name="Pinterest"
            [(ngModel)]="appDetails.pinterest"
          />
        </div>
    </div>

    <div class="contact-bio">

    </div>
  </form>
  </div>
</div>
