<div class="page-settings">
  <div class="about-section">
    <form
      #editForm="ngForm"
      id="editForm"
      (ngSubmit)="submitChanges(PageSettings.id)"
    >
    <div *ngIf="editForm.dirty" class="alert alert-info">
      <strong>Information:</strong> You have Made changes. Any unsaved
      changes will be lost
    </div>
      <div class="website-settings">
        <h4> Website Settings </h4>
        <div class="logo-container" style="background-color:#1919191e ;">
          <app-image-preview class="img-prw" [imageUrl]="mainLogoPreview$ | async"></app-image-preview>
        </div>
        <app-file-upload
        aria-describedby="main-logo-validation-message"
        name="mainLogoUpload"
        class="uploader"
        #mainLogoUpload = "ngModel"
        [(ngModel)]="PageSettings.mainLogoImageUrl"
        [chooseAFileLabel]= "'Choose a file for Main Logo'"
        [chooseADifferentFileLabel] = " 'Cho0se a different file for Main Logo' ">
      </app-file-upload>

        <label for="websiteName">Website Name:</label>
        <input
          class="form-control"
          type="text"
          name="Enter website name"
          [(ngModel)]="PageSettings.companyName"
        />
      </div>
      <div class="about-img">
        <app-image-preview class="img-prw" [imageUrl]="aboutImgPreview$ | async"></app-image-preview>
        <app-file-upload 
        aria-describedby="about-message"
        name="aboutImgUpload"
        class="bio-uploader"
        #aboutImgUpload = "ngModel"
        [(ngModel)]="PageSettings.aboutPictUrl"
        [chooseAFileLabel]= "'Choose a file the About Page'"
        [chooseADifferentFileLabel] = " 'Choose a different file for Main Logo' "></app-file-upload>
        <!-- <input type="file" ng2FileSelect [uploader]="aboutUploader" /><br /> -->
        <img
          src="https://format-com-cld-res.cloudinary.com/image/private/s--BZBZgYg6--/c_crop,h_2989,w_2988,x_1547,y_0/c_fill,g_center,h_380,w_380/fl_keep_iptc.progressive,q_95,r_max/v1/8d06225feb1ab12065e636ad5c061efc/20160116_1716401.png"
          srcset="
            https://format-com-cld-res.cloudinary.com/image/private/s--BZBZgYg6--/c_crop,h_2989,w_2988,x_1547,y_0/c_fill,g_center,h_380,w_380/fl_keep_iptc.progressive,q_95,r_max/v1/8d06225feb1ab12065e636ad5c061efc/20160116_1716401.png       1x,
            https://format-com-cld-res.cloudinary.com/image/private/s--RQ_ZeVEU--/c_crop,h_2989,w_2988,x_1547,y_0/c_fill,g_center,h_380,w_380/dpr_2,fl_keep_iptc.progressive,q_95,r_max/v1/8d06225feb1ab12065e636ad5c061efc/20160116_1716401.png 2x
          "
        />
        
        
      </div>
      <div class="about-bio">
        

        <h1>Biography</h1>
        <h4>Edit Paragraph</h4>
        <textarea
          name="description"
          rows="10"
          class="form-control"
          [(ngModel)]="PageSettings.aboutDescription"
        >
        </textarea>

        <div class="form-inline">
          <label for="Instagram">Instagram:</label>
          <input
            class="form-control"
            type="text"
            name="Instagram"
            [(ngModel)]="PageSettings.instagram"
          />
          <label for="Facebook">Facebook:</label>
          <input
            class="form-control"
            type="text"
            name="Facebook"
            [(ngModel)]="PageSettings.facebookLink"
          />
          <label for="Pinterest">Pinterest:</label>
          <input
            class="form-control"
            type="text"
            name="Pinterest"
            [(ngModel)]="PageSettings.pinterest"
          />
          <label for="Pinterest">Twitter:</label>
          <input
            class="form-control"
            type="text"
            name="Twitter"
            [(ngModel)]="PageSettings.pinterest"
          />
          <label for="Pinterest">LinkedIn:</label>
          <input
            class="form-control"
            type="text"
            name="LinkedIn"
            [(ngModel)]="PageSettings.pinterest"
          />
        </div>
      </div>
      <div class="contact-bio">
        <h4>Contact Us form Information</h4>
        <table>
          <tr>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td>
              <p>Add ypu email adrres that will be used for the contact form</p>
            </td>
            <td>
              <input
                class="form-control"
                type="text"
                name="contact email"
                [(ngModel)]="PageSettings.contactEmail"
              />
            </td>
          </tr>
          <tr>
            <td>
              <p>Add ypu email adrres that will be used for the contact form</p>
            </td>
            <td>
              <input
                class="form-control"
                type="text"
                name="phone number"
                [(ngModel)]="PageSettings.contactNumber"
              />
            </td>
          </tr>
        </table>
        <div
          ng2FileDrop
          [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
          (fileOver)="fileOverBase($event)"
          [uploader]="contactUploader"
          class="uploader"
        ><i class="fa fa-upload fa-3x"></i>
        Upload New logo</div>
        <div class="contact-image">
          <img src="{{ PageSettings.aboutPictUrl}}" />
        </div>
      </div><div class="form-buttons">
        
        <button
            [disabled]="!editForm.dirty"
            form="editForm"
            class="btn btn-success"
          >
            Save changes
          </button>
          <button
          form="editForm"
          class="btn btn-secondary"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
