.admin-container {
  width: 100%;
  
  .panel {
    margin: 0 auto !important;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;

    .tab-panel {
      width: 100%;
      padding: 20px;

      tabset {
        display: flex;
        flex-direction: column;
        ul li {
          width: 50%;
        }
      }
    }
  }
}
