section {
  max-width: 1401px;
  margin: 0 auto;
 
  .contenitore {
    margin-top: 6.25rem;
    max-height: 100%;
    max-width: 100% !important;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    margin-right: auto !important;
    margin-left: auto !important;
    z-index: 0 !important;
    position: relative;
    .col {
      // margin-left: 3.125rem;
      width: 33%;
      margin-bottom: 2.75rem;

      .image-card {
        // padding-right: 2.75rem;
        padding-bottom: 2.75rem;
        outline: none;

        &:focus,
        &:active {
          outline: none;
          outline: none;
          border: none;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

@media (max-width: 1181px) {
  section {
    max-width: 100%;
    margin: 0 auto;
    .contenitore {
      max-width: 100% !important;
      margin-top: 6.25rem;

      .col {
        width: 48%;
      }
    }
  }
}

//Mobile view portrait
@media (max-width: 575.98px) {
  section {
    max-width: 100%;
    margin: 0 auto;
    .contenitore {
      margin-top: 6.25rem;

      .col {
        width: 99%;
        margin: 0 auto;
        left: 0 !important;
      }

      .image-card {
        padding: 0;
      }
    }
  }
}