.container {
  margin-top: 6.25rem;
  min-height: 500px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  text-align: center;
}

.col {
  margin-left: 3.125rem;
  min-height: 200px;
  width: 28%;
  margin-bottom: 2.75rem;
}

.image-card {
  padding-right: 2.75rem;
  padding-bottom: 2.75rem;
}

@media (max-width: 1181px) {
  .container {
    margin: 0 auto;
    margin-top: 6.25rem;
    margin-left: 20px;
  }
  .col {
    width: 40%;
    margin-left: 3.125rem;
  }
}

//Mobile view portrait
@media (max-width: 575.98px) {
  .col {
    width: 100%;
  }
}
