<div class="main">
  <section>
    <ng-masonry-grid
      [masonryOptions]="{ transitionDuration: '0.8s', gutter: 20 }"
      [useAnimation]="true"
      [useImagesLoaded]="true"
      [scrollAnimationOptions]="{
        animationEffect: 'effect-4',
        minDuration: 0.6,
        maxDuration: 0.7
      }"
      class="container"
    >
      <!-- Masonry Grid Item -->
      <ng-masonry-grid-item
        class="col masonry-photos"
        id="{{ photo.id }}"
        *ngFor="let photo of photos"
        (click)="removeItem($event)"
        
      >
        <!-- Grid Content  -->
        <div class="image-card" routerLink="/photos/{{photo.id}}" >
          <app-photo-item [photo]="photo" ></app-photo-item>
          
        </div>
      </ng-masonry-grid-item>
    </ng-masonry-grid>
  </section>
  <div class="pagination">
    <pagination
      
      [totalItems]="this.totalCount"
      (pageChanged)="onPageChanged($event)"
    >
    </pagination>
  </div>
</div>
