a {
  cursor: pointer;

  .image-fluid {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 7px 9px 15px -3px rgba(0, 0, 0, 0.34);
    box-shadow: 7px 9px 15px -3px rgba(0, 0, 0, 0.34);
  }
}
