.detail-box {
  margin: 50px;
  //   display: flex;
  //   flex-direction: row;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .photo-card {
      

      img {
        border-radius: inherit;
        display: block;
        max-height: 100%;
        max-width: 100%;
        border: 2px gray solid;
      border-radius: 2%;
      }
    }

    .description {
      display: inline-flex;
      height: 500px;
      width: 60%;
      border: 5px lightcyan solid;
    }
  }
}
