<header>
  <img
    src="../../assets/AdelgioMain.svg"
    class="logo"
    [routerLink]="['/']"
    style="width: 24em; align-content: center"
  />
  <nav style="margin-top: 35px">
    <!-- <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home </a> -->
    <a [routerLink]="['/photos']"  routerLinkActive="active">Photos</a>
    <!-- <a>Digital store</a> -->
    <a>About Us</a>
    <a>Contact</a>
    <a *appHasRole="['Admin']" [routerLink]="['/test-error']"  routerLinkActive="active">Errors</a>

    <ng-container *ngIf="(currentUser$ | async) == null">
      <a [routerLink]="['/account/login']"  routerLinkActive="active">Login</a>
      <a [routerLink]="['/account/register']"  routerLinkActive="active">Register</a>
    </ng-container>
    <ng-container *ngIf="currentUser$ | async">
      <div class="navbutton">
        <a href="#" >Welcome {{(currentUser$ | async).displayName }}</a>
        <div class="dropdown">
          <div class="navbutton"><a (click)="logOut()">Logout</a></div>
        </div>
      </div>
      <!-- <a href="#"> Welcome {{(currentUser$ | async).displayName }}</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a (click)="logOut()">Logout</a>
      </div> -->
      <a  *appHasRole="['Admin','Moderator']" [routerLink]="['admin']"  routerLinkActive="active">Admin</a>
    </ng-container>

  </nav>
  <div class="social">
    <a href="#" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-instagram"></i
    ></a>
    <a href="#" target="_blank" rel="noopener noreferrer"
      ><i class="fa fa-facebook-f"></i
    ></a>
    <a href="#" target="_blank" rel="noopener noreferrer"
      ><i class="fa fa-pinterest"></i
    ></a>
  </div>

  <div class="mobile-wrap">
    <img
      src="../../assets/icon-burger-menu.svg"
      alt="Mobile Menu Icon"
      style="width: 40px;"
      class="burgermenu"
    />
    <div class="mob-nav">
      <a>Photos</a>
      <a>Digital store</a>
      <a>About Us</a>
      <a>Contact</a>
    </div>
  </div>
</header>
