header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .logo {
    max-height: 150px;
    padding: 40px 0 20px 0;
  }

  nav {
    display: inline-block;
    align-content: space-between;
    justify-content: space-between;

    a {
      font-size: 20px;

      margin-left: 30px;
      color: #a78857;
      font-family: "Josefin Slab", serif;
    }
    a:hover {
      transition: ease-in-out;
      color: orangered;
    }
  }

  .social {
    padding-top: 20px;

    a {
      text-decoration: none;
      color: #434343;
      margin-left: 15px;
      font-size: 20px;
    }
  }

  .mobile-wrap {
    display: none;
  }
}
//Tablet View
@media (max-width: 1181px) {
  header {

    nav {
      display: none;
    }

    .social {
      display: none;
    }

    .mobile-wrap {
      display: block;
    }

    .mob-nav{
      display: none;
    }
  }
}
