<header>
  <img
    src="{{ pageSettings.mainLogoImageUrl }}"
    class="logo"
    [routerLink]="['/']"
    style="width: 24em; align-content: center"
  />
  <nav style="margin-top: 35px">
    <a
      [routerLink]="['/photos']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Photos</a
    >
    <!-- <a
      [routerLink]="['/photos']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Collections</a
    > -->
    <!-- <a>Digital store</a> -->
    <a [routerLink]="['/home/about']" routerLinkActive="active">About Us</a>
    <a [routerLink]="['/home/contact-us']" routerLinkActive="active">Contact</a>

    <ng-container *ngIf="(currentUser$ | async) == null">
      <a [routerLink]="['/account/login']" routerLinkActive="active">Login</a>
      <a [routerLink]="['/account/register']" routerLinkActive="active"
        >Register</a
      >
    </ng-container>
    <ng-container *ngIf="currentUser$ | async">
      <div class="navbutton">
        <a>Welcome {{ (currentUser$ | async).displayName }}</a>
        <div class="dropdown">
          <div class="navbutton"><a (click)="logOut()">Logout</a></div>
        </div>
      </div>
      <a
        *appHasRole="['Admin', 'Moderator']"
        [routerLink]="['admin/']"
        routerLinkActive="active"
        >Admin Module</a
      >
    </ng-container>
  </nav>
  <div class="social">
    <a
      *ngIf="pageSettings.instagram"
      href="{{ pageSettings.instagram }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa fa-instagram"></i
    ></a>
    <a
      *ngIf="pageSettings.facebookLink"
      href="{{ pageSettings.facebookLink }}"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fa fa-facebook-f"></i
    ></a>
    <a
      *ngIf="pageSettings.twitter"
      href="{{ pageSettings.twitter }}"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fa fa-pinterest"></i
    ></a>
    <a
      *ngIf="pageSettings.linkedIn"
      href="{{ pageSettings.linkedIn }}"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fa fa-pinterest"></i
    ></a>
    <a
      *ngIf="pageSettings.pinterest"
      href="{{ pageSettings.pinterest }}"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fa fa-pinterest"></i
    ></a>
  </div>

  <div class="mobile-wrap">
    <div class="menu-wrap">
      <input type="checkbox" class="toggler" />
      <div class="hamburger"><div></div></div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li>
                <a [routerLink]="['/']" routerLinkActive="active">Photos</a>
              </li>
              <li>
                <a [routerLink]="['/home/about']" routerLinkActive="active">About Us</a>
              </li>
              <li><a [routerLink]="['/home/contact-us']" >Contact</a></li>
              <ng-container *ngIf="(currentUser$ | async) === null">
                <li>
                  <a [routerLink]="['/account/login']" routerLinkActive="active"
                    >Login</a
                  >
                </li>
                <li>
                  <a
                    [routerLink]="['/account/register']"
                    routerLinkActive="active"
                    >Register</a
                  >
                </li>
              </ng-container>
              <ng-container *ngIf="currentUser$ | async">
                <li>
                  <a
                    *appHasRole="['Admin', 'Moderator']"
                    [routerLink]="['admin']"
                    routerLinkActive="active"
                    >Admin</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Welcome {{ (currentUser$ | async).displayName }}</a
                  >
                </li>
                <li>
                  <a class="dropdown" (click)="logOut()">Logout</a>
                </li>
              </ng-container>
            </ul>
            <ul class="social-link">
              <li class="mob-social">
                <a
                  *ngIf="pageSettings.instagram"
                  href="{{ pageSettings.instagram }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fa fa-instagram"></i
                ></a>
              </li>
              <li class="mob-social">
                <a
                  *ngIf="pageSettings.instagram"
                  href="{{ pageSettings.facebookLink }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><i class="fa fa-facebook-f"></i
                ></a>
              </li>
              <li class="mob-social">
                <a
                  *ngIf="pageSettings.twitter"
                  href="{{ pageSettings.twitter }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
