header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;

  .logo {
    max-height: 150px;
    padding: 40px 0 20px 0;
  }
  .logo:hover {
    transition: ease-in-out;
    cursor: pointer;
    text-decoration: none;
    outline: none;

    a img:focus,
    &:active {
      outline: none;
      border: none;
      -moz-outline-style: none;
    }
  }

  nav {
    display: inline-block;
    align-content: space-between;
    justify-content: space-between;

    a {
      font-size: 20px;
      margin-left: 30px;
      color: #5c5c5c;
      font-family: "Crimson Text", serif;

      &.active {
        color: #a78857;
      }
    }
    a:hover {
      transition: ease-in-out;
      color: orangered;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .social {
    padding-top: 20px;

    a {
      text-decoration: none;
      color: #434343;
      margin-left: 15px;
      font-size: 20px;
    }
  }

  .mobile-wrap {
    display: none;
  }
}
//Tablet View
@media (max-width: 1181px) {
  header {
    nav {
      display: none;
    }

    .social {
      display: none;
    }

    .mobile-wrap {
      display: block;
    }

    .mob-nav {
      display: none;
    }
  }
}
