header {
  display: block;
  text-align: center;
}

// .logo {
//   padding-bottom: 25px;
// }

nav p {
  font-size: 30px;
  display: inline-block;
  margin-left: 15px;
  color: #434343;
}

.social a {
  text-decoration: none;
  color: #434343;
  margin-left: 15px;
  font-size: 10px;
}
